@import url('~semantic-ui-css/semantic.min.css');
@import url('~react-datetime/css/react-datetime.css');

.social-login-button {
    margin-bottom: 20px;
}

.social-login-button button {
    min-width: 250px;
}	

.SelectorHeader {
    width: 100%;
    float: left;
    text-align: center;
}

.socialLogin_link {
    width: 100%;
    float: left;
}

.ui.justified.container {
    padding: 9px 13px;
  }

 .loginWith {
    justify-content: center;
    display: grid;
}

.Item_component {
    margin-bottom: 20px;
}